.settings
target
.classpath
.project

src/main/java/fr/softeam/cameldesigner/api/camelcore/infrastructure/dependency/Annotation.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/infrastructure/dependency/PropertyDependency.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/infrastructure/modelelement/CamelAttribute.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/infrastructure/modelelement/CamelElement.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/infrastructure/modelelement/ExpendableElement.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/infrastructure/modelelement/Feature.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/infrastructure/modelelement/NamedElement.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/artifact/FeatureArtifact.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/attribute/AttributeAttribute.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/attribute/MeasurableAttributeAttribute.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/attribute/QualityAttributeAttribute.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/class_/Application.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/class_/AttributeClass.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/class_/FeatureClass.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/class_/MeasurableAttributeClass.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/class_/QualityAttributeClass.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/classifier/FeatureClassifier.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/connector/FeatureConnector.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/datatype/FeatureDataType.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/enumeration/FeatureEnumeration.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/instance/AttributeInstance.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/instance/FeatureInstance.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/instance/MeasurableAttributeInstance.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/instance/QualityAttributeInstance.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/namespace/Action.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/package_/CamelModel.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/package_/FeaturePackage.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/package_/SubModel.java
src/main/java/fr/softeam/cameldesigner/api/camelcore/standard/port/FeaturePort.java
src/main/java/fr/softeam/cameldesigner/api/CamelDesignerProxyFactory.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/infrastructure/abstractdiagram/AbstractCamelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/CamelModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/ConstraintModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/DataInstanceModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/DataTypeModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/DeploymentInstanceModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/DeploymentTypeModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/ExecutionModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/LocationModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/MetadataModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/MetricInstanceModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/MetricTypeModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/OrganisationModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/RequirementModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/ScalabilityModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/SecurityModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/TypeModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/cameldiagrams/standard/classdiagram/UnitModelDiagram.java
src/main/java/fr/softeam/cameldesigner/api/constraintmodel/standard/constraint/AttributeConstraint.java
src/main/java/fr/softeam/cameldesigner/api/constraintmodel/standard/constraint/CamelConstraint.java
src/main/java/fr/softeam/cameldesigner/api/constraintmodel/standard/constraint/CompositeConstraint.java
src/main/java/fr/softeam/cameldesigner/api/constraintmodel/standard/constraint/IfThenConstraint.java
src/main/java/fr/softeam/cameldesigner/api/constraintmodel/standard/constraint/LogicalConstraint.java
src/main/java/fr/softeam/cameldesigner/api/constraintmodel/standard/constraint/MetricConstraint.java
src/main/java/fr/softeam/cameldesigner/api/constraintmodel/standard/constraint/MetricVariableConstraint.java
src/main/java/fr/softeam/cameldesigner/api/constraintmodel/standard/constraint/UnaryConstraint.java
src/main/java/fr/softeam/cameldesigner/api/constraintmodel/standard/package_/ConstraintModel.java
src/main/java/fr/softeam/cameldesigner/api/datamodel/standard/bindableinstance/DataInstanceBindableInstance.java
src/main/java/fr/softeam/cameldesigner/api/datamodel/standard/class_/Data.java
src/main/java/fr/softeam/cameldesigner/api/datamodel/standard/class_/DataSource.java
src/main/java/fr/softeam/cameldesigner/api/datamodel/standard/instance/DataInstance.java
src/main/java/fr/softeam/cameldesigner/api/datamodel/standard/instance/DataSourceInstance.java
src/main/java/fr/softeam/cameldesigner/api/datamodel/standard/package_/DataInstanceModel.java
src/main/java/fr/softeam/cameldesigner/api/datamodel/standard/package_/DataModel.java
src/main/java/fr/softeam/cameldesigner/api/datamodel/standard/package_/DataTypeModel.java
src/main/java/fr/softeam/cameldesigner/api/deploymentinstancemodel/standard/connector/CommunicationInstance.java
src/main/java/fr/softeam/cameldesigner/api/deploymentinstancemodel/standard/connector/ComponentRelationInstance.java
src/main/java/fr/softeam/cameldesigner/api/deploymentinstancemodel/standard/connector/HostingInstance.java
src/main/java/fr/softeam/cameldesigner/api/deploymentinstancemodel/standard/instance/ComponentInstance.java
src/main/java/fr/softeam/cameldesigner/api/deploymentinstancemodel/standard/instance/ContainerInstance.java
src/main/java/fr/softeam/cameldesigner/api/deploymentinstancemodel/standard/instance/PaaSInstance.java
src/main/java/fr/softeam/cameldesigner/api/deploymentinstancemodel/standard/instance/SoftwareComponentInstance.java
src/main/java/fr/softeam/cameldesigner/api/deploymentinstancemodel/standard/instance/VMInstance.java
src/main/java/fr/softeam/cameldesigner/api/deploymentinstancemodel/standard/package_/DeploymentInstanceModel.java
src/main/java/fr/softeam/cameldesigner/api/deploymentinstancemodel/standard/port/CommunicationPortInstance.java
src/main/java/fr/softeam/cameldesigner/api/deploymentinstancemodel/standard/port/HostingPortInstance.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/artifact/BuildConfiguration.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/artifact/ClusterConfiguration.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/artifact/Configuration.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/artifact/ContainerConfiguration.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/artifact/EventConfiguration.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/artifact/ImageConfiguration.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/artifact/PaaSConfiguration.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/artifact/ScriptConfiguration.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/artifact/ServerlessConfiguration.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/class_/RequirementSet.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/component/CamelComponent.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/component/Container.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/component/PaaS.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/component/SoftwareComponent.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/component/VM.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/connector/Communication.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/connector/ComponentRelation.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/connector/ControlFlowRelation.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/connector/Hosting.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/connector/LocationCoupling.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/constraint/Parallel.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/constraint/Sequence.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/constraint/Switch.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/package_/DeploymentModel.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/package_/DeploymentTypeModel.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/port/CommunicationPort.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/port/HostingPort.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/substitution/Conditional.java
src/main/java/fr/softeam/cameldesigner/api/deploymentmodel/standard/substitution/Precedes.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/ApplicationMeasurement.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/Cause.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/CommunicationMeasurement.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/ContainerMeasurement.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/DataMeasurement.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/HistoryInfo.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/HistoryRecord.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/Measurement.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/PaaSMeasurement.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/RuleTrigger.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/SLOViolation.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/SoftwareComponentMeasurement.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/class_/VMMeasurement.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/instance/ActionInstance.java
src/main/java/fr/softeam/cameldesigner/api/executionmodel/standard/package_/ExecutionModel.java
src/main/java/fr/softeam/cameldesigner/api/locationmodel/standard/enumeration/CloudLocation.java
src/main/java/fr/softeam/cameldesigner/api/locationmodel/standard/enumeration/GeographicalRegion.java
src/main/java/fr/softeam/cameldesigner/api/locationmodel/standard/enumeration/Location.java
src/main/java/fr/softeam/cameldesigner/api/locationmodel/standard/package_/LocationModel.java
src/main/java/fr/softeam/cameldesigner/api/metadatamodel/infrastructure/modelelement/MmsObject.java
src/main/java/fr/softeam/cameldesigner/api/metadatamodel/standard/attribute/MmsProperty.java
src/main/java/fr/softeam/cameldesigner/api/metadatamodel/standard/attributelink/MmsPropertyInstance.java
src/main/java/fr/softeam/cameldesigner/api/metadatamodel/standard/class_/MmsConcept.java
src/main/java/fr/softeam/cameldesigner/api/metadatamodel/standard/instance/MmsConceptInstance.java
src/main/java/fr/softeam/cameldesigner/api/metadatamodel/standard/package_/MetaDataModel.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/attribute/WindowCriterion.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/AttributeContext.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/CompositeMetric.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/CompositeMetricContext.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/Function.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/Metric.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/MetricContext.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/MetricObjectBinding.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/MetricTemplate.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/MetricVariable.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/ObjectContext.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/RawMetric.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/RawMetricContext.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/Schedule.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/Window.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/class_/WindowProcessing.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/component/Sensor.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/instance/MetricInstance.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/package_/MetricInstanceModel.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/package_/MetricModel.java
src/main/java/fr/softeam/cameldesigner/api/metricmodel/standard/package_/MetricTypeModel.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/CloudCredentials.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/CloudProvider.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/Credentials.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/DataResourceFilter.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/Entity.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/ExternalIdentifier.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/ModelResourceFilter.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/Organisation.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/Permission.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/PlatformCredentials.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/ResourceFilter.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/Role.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/RoleAssignment.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/ServiceResourceFilter.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/SoftwareComponentResourceFilter.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/User.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/class_/UserGroup.java
src/main/java/fr/softeam/cameldesigner/api/organisationmodel/standard/package_/OrganisationModel.java
src/main/java/fr/softeam/cameldesigner/api/profiler/standard/component/ProfilerComponent.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/class_/CommunicationRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/class_/HorizontalScaleRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/class_/LocationRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/class_/OptimisationRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/class_/OSRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/class_/PaaSRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/class_/ProviderRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/class_/ResourceRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/class_/SecurityRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/class_/ServiceLevelObjective.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/class_/VerticalScaleRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/enumeration/ImageRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/generalclass/HardRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/generalclass/Requirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/generalclass/ScaleRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/generalclass/SoftRequirement.java
src/main/java/fr/softeam/cameldesigner/api/requirementmodel/standard/package_/RequirementModel.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/class_/BinaryEventPattern.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/class_/Event.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/class_/EventPattern.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/class_/FunctionalEvent.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/class_/HorizontalScalingAction.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/class_/NonFunctionalEvent.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/class_/ScalabilityRule.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/class_/SingleEvent.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/class_/Timer.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/class_/UnaryEventPattern.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/class_/VerticalScalingAction.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/instance/EventInstance.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/instance/FunctionalEventInstance.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/instance/NonFunctionalEventInstance.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/namespace/ScalingAction.java
src/main/java/fr/softeam/cameldesigner/api/scalabilitymodel/standard/package_/ScalabilityModel.java
src/main/java/fr/softeam/cameldesigner/api/securitymodel/standard/class_/Certifiable.java
src/main/java/fr/softeam/cameldesigner/api/securitymodel/standard/class_/CompositeSecurityMetric.java
src/main/java/fr/softeam/cameldesigner/api/securitymodel/standard/class_/RawSecurityMetric.java
src/main/java/fr/softeam/cameldesigner/api/securitymodel/standard/class_/SecurityAttribute.java
src/main/java/fr/softeam/cameldesigner/api/securitymodel/standard/class_/SecurityControl.java
src/main/java/fr/softeam/cameldesigner/api/securitymodel/standard/class_/SecurityDomain.java
src/main/java/fr/softeam/cameldesigner/api/securitymodel/standard/class_/SecuritySLO.java
src/main/java/fr/softeam/cameldesigner/api/securitymodel/standard/instance/SecurityMetricInstance.java
src/main/java/fr/softeam/cameldesigner/api/securitymodel/standard/package_/SecurityModel.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/class_/BooleanValue.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/class_/DoubleValue.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/class_/FloatValue.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/class_/IntValue.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/class_/Limit.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/class_/NumericValue.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/class_/StringValue.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/class_/Value.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/datatype/BooleanValueType.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/datatype/CamelList.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/datatype/Range.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/datatype/RangeUnion.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/datatype/StringValueType.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/datatype/ValueType.java
src/main/java/fr/softeam/cameldesigner/api/typemodel/standard/package_/TypeModel.java
src/main/java/fr/softeam/cameldesigner/api/unitmodel/standard/datatype/CompositeUnit.java
src/main/java/fr/softeam/cameldesigner/api/unitmodel/standard/datatype/DimensionedUnit.java
src/main/java/fr/softeam/cameldesigner/api/unitmodel/standard/datatype/Dimensionless.java
src/main/java/fr/softeam/cameldesigner/api/unitmodel/standard/datatype/SingleUnit.java
src/main/java/fr/softeam/cameldesigner/api/unitmodel/standard/datatype/Unit.java
src/main/java/fr/softeam/cameldesigner/api/unitmodel/standard/datatype/UnitDimension.java
src/main/java/fr/softeam/cameldesigner/api/unitmodel/standard/package_/UnitModel.java
